@model rtmcuz.ViewModels.Service

@{
    ViewData["Title"] = "Variant";
}

<h1>@dashboardLocalizer["Create_translation"]</h1>

<h4>@dashboardLocalizer["Services"]</h4>

<hr />
<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_Form", Model)
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">@dashboardLocalizer["Back_to_List"]</a>
</div>

@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
