@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/logout.css" />

<body>
    <div class="logout">
        @* <h1>@ViewData["Title"]</h1> *@
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <p>Вы действительно хотите выйти?</p>
                    <div class="buttons-wrap d-flex justify-content-center">
                        <button type="submit" class="yes-btn nav-link btn btn-danger text-white">Да</button>
                        <a href="javascript:history.back()" class="nav-link btn btn-success text-white d-inline">Нет</a>
                    </div>
                </form>
            }
            else
            {
                <p>You have successfully logged out of the application.</p>
            }
        }
    </div>
</body>
