@model rtmcuz.ViewModels.Leadership

@{
    ViewData["Title"] = "Create";
}

<h1>@ViewBag.Title</h1>

<h4>Leadership</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        @await Html.PartialAsync("_Form", Model)
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
