<footer>
    <div class="container">
        <div class="footer-top">
            <div class="left">
                <div class="logo">
                    <img src="/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img" alt="">
                </div>
                <div class="copy-right">
                    Copyright © Creatt Studios All rights reserved
                </div>
                <div class="social-media">
                    <a href="" class="social-media-link"><span class="icon icon-tw"></span></a>
                    <a href="" class="social-media-link"><span class="icon icon-fb"></span></a>
                    <a href="" class="social-media-link"><span class="icon icon-instagram"></span></a>
                </div>
            </div>
            <div class="right">
                <div class="column">
                    <a class="header-title">Works</a>
                    <a class="title">Web Applications</a>
                    <a class="title">UX / UI Design</a>
                    <a class="title">Project timeline</a>
                    <a class="title">Our Vision</a>
                </div>
                <div class="column">
                    <a class="header-title">Works</a>
                    <a class="title">Web Applications</a>
                    <a class="title">UX / UI Design</a>
                    <a class="title">Project timeline</a>
                    <a class="title">Our Vision</a>
                </div>
                <div class="column">
                    <a class="header-title">Works</a>
                    <a class="title">Web Applications</a>
                    <a class="title">UX / UI Design</a>
                    <a class="title">Project timeline</a>
                    <a class="title">Our Vision</a>
                </div>
            </div>
        </div>
        <hr>
        <div class="footer-bottom">
            <div class="first-row">
                <img src="/img/image 12.png" alt="" class="img">
                <img src="/img/image 13.png" alt="" class="img">
                <div class="text">@sharedLocalizer["company_address_1"]
                </div>
            </div>
            <div class="subtitle">
                @sharedLocalizer["company_address_1"]
            </div>
        </div>
    </div>
</footer>