<header>
    <div class="container">
        <div class="header-top">
            <div class="contacts">
                <a href="" class="contact"><span class="icon icon-email"></span>
                    <span class="contact-text"> tmc@rtmc.uz</span>
                </a>
                <a href="" class="contact"><span class="icon icon-phone-0"></span>
                    <span class="contact-text"> (71) 240-27-72</span>
                </a>
                <a href="" class="contact"><span class="icon icon-phone-0"></span>
                    <span class="contact-text"> (71) 240-54-19</span>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="social-media-link"><span class="icon icon-tw"></span></a>
                <a href="" class="social-media-link"><span class="icon icon-fb"></span></a>
                <a href="" class="social-media-link"><span class="icon icon-instagram"></span></a>
            </div>
        </div>
        <div class="header-bottom">
            <a href="/" class="logo">
                <img src="~/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img">
            </a>
            <nav>   
                <ul class="navbar">
                    <li class="navbar-item"> <a href=""> Bosh sahifa</a></li>
                    <li class="navbar-item"> <a href=""> Markaz haqida</a></li>
                    <li class="navbar-item"> <a href=""> Yangiliklar</a></li>
                    <li class="navbar-item"> <a href=""> Hujjatlar</a></li>
                    <li class="navbar-item"> <a href=""> Bog’lanish</a></li>
                </ul>
                <div class="searching">
                    <span class="icon icon-search"></span>
                </div>
            </nav>
        </div>
    </div>
</header>

@* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">rtmcuz</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
    <ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home"
    asp-action="Privacy">Privacy</a>
    </li>
    <li>
    @await Html.PartialAsync("_SetLanguagePartial")
    </li>
    </ul>
    </div>
    </div>
    </nav> *@