<header>
    <div class="container">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            @await Html.PartialAsync("Menu")
        </div>
        <div class="header-top">
            <div class="contacts">
                <a href="" class="contact"><span class="ri-lg ri-mail-fill"></span>
                    <span class="contact-text"> tmc@rtmc.uz</span>
                </a>
                <a href="" class="contact"><span class="ri-lg ri-phone-fill"></span>
                    <span class="contact-text"> (71) 240-27-72</span>
                </a>
                <a href="" class="contact"><span class="ri-lg ri-phone-fill"></span>
                    <span class="contact-text"> (71) 240-54-19</span>
                </a>
            </div>
            <div class="culture">
                <partial name="_Culture" />
            </div>
        </div>
        <div class="header-bottom">
            <a href="/" class="logo">
                <img src="~/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img">
            </a>
            <nav class="navbar">
                @await Html.PartialAsync("Menu")
                @await Html.PartialAsync("_Culture")
                <span class="searching-icon ri-search-line" id="open-searching"></span>
            </nav>
            <form asp-action="Search" class="searching" style="display: none;" id="searching">
                <span class="searching-icon ri-search-line" onclick="document.getElementById('searching').submit()"></span>
                <input type="text" name="searching" class="search-input" id="search-input" placeholder="@sharedLocalizer["searching"]...">
                <span class="closing-icon ri-xl ri-close-fill"></span>
            </form>
        </div>
    </div>
</header>