<header>
    <div class="container">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            @await Html.PartialAsync("Menu")

        </div>
        <div class="header-top">
            <div class="contacts">
                <a href="" class="contact"><span class="icon icon-email"></span>
                    <span class="contact-text"> tmc@rtmc.uz</span>
                </a>
                <a href="" class="contact"><span class="icon icon-phone-0"></span>
                    <span class="contact-text"> (71) 240-27-72</span>
                </a>
                <a href="" class="contact"><span class="icon icon-phone-0"></span>
                    <span class="contact-text"> (71) 240-54-19</span>
                </a>
            </div>
            <div class="social-media">
                <a href="" class="social-media-link"><span class="icon icon-tw"></span></a>
                <a href="" class="social-media-link"><span class="icon icon-fb"></span></a>
                <a href="" class="social-media-link"><span class="icon icon-instagram"></span></a>
            </div>
        </div>
        <div class="header-bottom">
            <a href="/" class="logo">
                <img src="~/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img">
            </a>
            <nav class="navbar">
                @await Html.PartialAsync("Menu")
                <span class="searching-icon icon icon-search"></span>
            </nav>
            <div class="searching" style="display: none;">
                <input type="text" class="search-input" placeholder="Qidiruv...">
                <span class="closing-icon icon icon-close"></span>
            </div>
        </div>
    </div>
</header>