<header>
    <div class="container">
        <div class="hamburger-menu">
            <input id="menu__toggle" type="checkbox" />
            <label class="menu__btn" for="menu__toggle">
                <span></span>
            </label>
            @await Html.PartialAsync("Menu")

        </div>
        <div class="header-top">
            <div class="contacts">
                <a href="" class="contact"><span class="ri-lg ri-mail-fill"></span>
                    <span class="contact-text"> tmc@rtmc.uz</span>
                </a>
                <a href="" class="contact"><span class="ri-lg ri-phone-fill"></span>
                    <span class="contact-text"> (71) 240-27-72</span>
                </a>
                <a href="" class="contact"><span class="ri-lg ri-phone-fill"></span>
                    <span class="contact-text"> (71) 240-54-19</span>
                </a>
            </div>
            <div class="culture">
                <partial name="_Culture" />
            </div>
            <div class="social-media">
                <a href="" class="social-media-link"><span class="ri-1x ri-twitter-fill"></span></a>
                <a href="" class="social-media-link"><span class="ri-1x ri-facebook-fill"></span></a>
                <a href="" class="social-media-link"><span class="ri-1x ri-instagram-fill"></span></a>
            </div>
        </div>
        <div class="header-bottom">
            <a href="/" class="logo">
                <img src="~/img/telegram-cloud-document-2-5300996950533872448 1.svg" class="logo-img">
            </a>
            <nav class="navbar">
                @await Html.PartialAsync("Menu")
                <span class="searching-icon ri-search-line"></span>
            </nav>
            <div class="searching" style="display: none;">
                <input type="text" class="search-input" placeholder="@sharedLocalizer["searching"]...">
                <span class="closing-icon ri-xl ri-close-fill"></span>
            </div>
        </div>
    </div>
</header>