<ul class="menu__box">
    <li><a class="menu__item" href="/">Bosh sahifa</a></li>
    <li><a asp-controller="Home" asp-action="AboutCenter" class="menu__item">Markaz haqida</a></li>
    <li><a asp-controller="Home" asp-action="News" class="menu__item">Yangiliklar</a></li>
    <li><a asp-controller="Home" asp-action="Documents" class="menu__item">Hujjatlar</a></li>
    <li><a asp-controller="Home" asp-action="Feedback" class="menu__item">Bog’lanish</a></li>
</ul>