@model IEnumerable<Section>

<div class="documents">
    <div class="container">
        <div class="title">@sharedLocalizer["documents"]</div>
        <div class="documents-categories">
            <div>
                @foreach (var item in Model)
                {
                    <div class="document-category">
                        <h6 class="document-title">@item.Title<span
                            class="icon icon-chevrone-bottom"></span></h6>
                        <div class="documents-content">
                            @Html.Raw(item.Content)
                            @* <a href="/">fasdfsdafsadfsdafsadf saf asd f asdf as f asgas g as gas ads a </a>
                            <a href="/">fasdfsdafsadfsdafsadf saf asd f asdf as f asgas g as gas ads a </a>
                            <a href="/">fasdfsdafsadfsdafsadf saf asd f asdf as f asgas g as gas ads a </a> *@
                        </div>
                    </div>
                }

            </div>
            @await Html.PartialAsync("SocialMedia")
        </div>


    </div>
</div>