@section Styles {
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}

<div class="feedback">
    <div class="container">
        <div class="feedback-wrapper">
            <form action="" class="feedback-form">
                <h3 class="title">Bog‘lanish</h3>
                <div class="form-control">
                    <label for="name">Ism va Familiya</label>
                    <input type="text" id="name" name="name" placeholder="Samantha Wheeler">
                </div>
                <div class="form-control">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" placeholder="samantha@email.com">
                </div>
                <div class="form-control">
                    <label for="department">Select Department</label>
                    <select name="department" id="department">
                        <option value="" selected>Refurn & Refunds</option>
                    </select>
                </div>
                <div class="form-control">
                    <label for="reason">What are you contacting for?</label>
                    <textarea name="reason" id="reason" cols="30" rows="10" placeholder="Description"></textarea>
                </div>
            </form>
            <div class="map" id="map"></div>
        </div>
        <div class="feedback-information">
            <div class="card">
                <div class="title">MANZIL:</div>
                <div class="subtitle">
                    O’zbekiston Respublikasi, Toshkent shahri, Olmazor tumani, Sebzor dahasi, 18-A uy, 240-ATS binosi
                </div>
            </div>
            <div class="card">
                <div class="title">Email Address</div>
                <div class="subtitle">
                    mc@rtmc.uz, rtmc@exat.uz
                </div>
            </div>
            <div class="card">
                <div class="title">Qabulxona :</div>
                <div class="subtitle">
                    (998-71) 240-27-72
                </div>
            </div>
            <div class="card">
                <div class="title">Telegram-bot :</div>
                <div class="subtitle">
                    @("@uztbmbot")
                </div>
            </div>
            <div class="card">
                <div class="title">WEB-SAYT</div>
                <div class="subtitle">
                    www.rtmc.uz
                </div>
            </div>
            <div class="card">
                <div class="title">FAKS:</div>
                <div class="subtitle">
                    (71) 240-54-19
                </div>
            </div>
        </div>
        <div class="social-media-bottom">
            <a href=""><span class="icon icon-fb"></span></a>
            <a href=""><span class="icon icon-tw"></span></a>
            <a href=""><span class="icon icon-tg"></span></a>
            <a href=""><span class="icon icon-instagram"></span></a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/leaflet-custom.js"></script>
}