@*@using Microsoft.AspNetCore.Mvc.Localization*@
@*@inject IViewLocalizer localizer*@

<div class="text-center">
    <h1 class="display-4">@localizer["Center"]</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @await Html.PartialAsync("InteractiveServices", ViewData["InteractiveServices"])
</div>
