@section Styles {
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/lib/leaflet/leaflet.css" />
}

<div class="text-center">
    @await Html.PartialAsync("Home/Banner", ViewData["Banners"])
    @await Html.PartialAsync("Home/OurServices")
    @await Html.PartialAsync("Home/InteractiveServices", ViewData["InteractiveServices"])
    @await Html.PartialAsync("Home/News")
    @await Html.PartialAsync("Home/NumbersAboutUs")
    @await Html.PartialAsync("Home/Questions", ViewData["Questions"])
    @await Html.PartialAsync("Home/Feedback")
    @await Html.PartialAsync("Home/Map")
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/swiper-custom.js"></script>
    <script src="~/lib/leaflet/leaflet.js"></script>
    <script src="~/lib/leaflet/leaflet-custom.js"></script>
}