@using System.Globalization
@model Section

<div class="news">
    <div class="container">
        <div class="news-wrapper">
            <div class="content">
                <div class="show">
                    <h3 class="title">@Model.Title</h3>
                    <img src="/uploads/@Model.Image.Path" class="news-img">
                    <div class="date">@Model.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)</div>
                    <div class="text">@Html.Raw(Model.Content)</div>
                </div>
            </div>
            @await Html.PartialAsync("NewsSidebar")
        </div>
    </div>
</div>