<div class="news">
    <div class="container">
        <div class="news-wrapper">
            <div class="content">
                <div class="items">
                    <div class="news-item">
                        <img src="/img/Background.png" class="news-img">
                        <div class="date"> MAR 13 2020</div>
                        <div class="title">“O‘zTTBRM” DUK ichki turizmni rivojlantirishda faol ishtirok etmoqda</div>
                        <div class="text">“O‘zTTBRM” DUK Kasaba uyushmasi qo‘mitasi bilan 2022 yilga mo‘ljallangan
                            o‘zaro xamkorlik va ijtimoiy sheriklik bo‘yicha qo‘shma tadbirlar rejasiga muvofiq, 24-25
                            sentabr kunlari “O‘zbekiston bo‘ylab sayohat qil!” shiori ostida “O‘zTTBRM” DUK xodimlari va
                            ularning oila aʼzolari uchun[…]</div>
                    </div>
                    <div class="news-item">
                        <img src="/img/Background.png" class="news-img">
                        <div class="date"> MAR 13 2020</div>
                        <div class="title">“O‘zTTBRM” DUK ichki turizmni rivojlantirishda faol ishtirok etmoqda</div>
                        <div class="text">“O‘zTTBRM” DUK Kasaba uyushmasi qo‘mitasi bilan 2022 yilga mo‘ljallangan
                            o‘zaro xamkorlik va ijtimoiy sheriklik bo‘yicha qo‘shma tadbirlar rejasiga muvofiq, 24-25
                            sentabr kunlari “O‘zbekiston bo‘ylab sayohat qil!” shiori ostida “O‘zTTBRM” DUK xodimlari va
                            ularning oila aʼzolari uchun[…]</div>
                    </div>
                    <div class="news-item">
                        <img src="/img/Background.png" class="news-img">
                        <div class="date"> MAR 13 2020</div>
                        <div class="title">“O‘zTTBRM” DUK ichki turizmni rivojlantirishda faol ishtirok etmoqda</div>
                        <div class="text">“O‘zTTBRM” DUK Kasaba uyushmasi qo‘mitasi bilan 2022 yilga mo‘ljallangan
                            o‘zaro xamkorlik va ijtimoiy sheriklik bo‘yicha qo‘shma tadbirlar rejasiga muvofiq, 24-25
                            sentabr kunlari “O‘zbekiston bo‘ylab sayohat qil!” shiori ostida “O‘zTTBRM” DUK xodimlari va
                            ularning oila aʼzolari uchun[…]</div>
                    </div>
                </div>
                <div class="pagination">
                    <a class="pagination-item active">1</a>
                    <a class="pagination-item">2</a>
                    <a class="pagination-item">3</a>
                    <a class="pagination-item sign">...</a>
                    <a class="pagination-item"><span class="icon icon-chevrone-right"></span></a>
                </div>
            </div>
            <div class="sidebar">
                <div class="last-news">
                    <h5 class="head-title">So’nggi yangiliklar</h5>
                    <div class="last-news-item">
                        <div class="news-img">
                            <img src="/img/Background.png" class="last-news-img">
                        </div>
                        <div class="right">
                            <a class="title">Aziz yurtdoshlar!</a>
                            <div class="date">MAR 13 2020</div>
                        </div>
                    </div>
                    <div class="last-news-item">
                        <div class="news-img">
                            <img src="/img/Background.png" class="last-news-img">
                        </div>
                        <div class="right">
                            <a class="title">Aziz yurtdoshlar!</a>
                            <div class="date">MAR 13 2020</div>
                        </div>
                    </div>
                    <div class="last-news-item">
                        <div class="news-img">
                            <img src="/img/Background2.png" class="last-news-img">
                        </div>
                        <div class="right">
                            <a class="title">Bayram xayriyalari topshirildi</a>
                            <div class="date">MAR 13 2020</div>
                        </div>
                    </div>
                    <div class="last-news-item">
                        <div class="news-img">
                            <img src="/img/Background1.png" class="last-news-img">
                        </div>
                        <div class="right">
                            <a class="title">Bayram xayriyalari topshirildi</a>
                            <div class="date">MAR 13 2020</div>
                        </div>
                    </div>
                    <div class="last-news-item">
                        <div class="news-img">
                            <img src="/img/Background.png" class="last-news-img">
                        </div>
                        <div class="right">
                            <a class="title">Aziz yurtdoshlar!</a>
                            <div class="date">MAR 13 2020</div>
                        </div>
                    </div>
                </div>
                <div class="social-media-bottom">
                    <a href=""><span class="icon icon-fb"></span></a>
                    <a href=""><span class="icon icon-tw"></span></a>
                    <a href=""><span class="icon icon-tg"></span></a>
                    <a href=""><span class="icon icon-instagram"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>