@using System.Globalization
@model IEnumerable<Section>

<div class="news">
    <div class="container">
        <div class="news-wrapper">
            <div class="content">
                <div class="items">
                    @foreach (var item in Model)
                    {
                        <div class="news-item">
                            <img src="/uploads/@item.Image.Path" class="news-img">
                            <div class="date">@item.UpdatedDate?.ToString("MMM dd yyyy", CultureInfo.CurrentCulture)</div>
                            <a asp-action="Show" asp-route-slugGroup="news" asp-route-slug="@item.Slug" class="title">@item.Title</a>
                            <div class="text">@Html.Raw(item.Content)</div>
                        </div>
                    }
                </div>
                @await Html.PartialAsync("Pagination", Model)
            </div>
            @await Html.PartialAsync("NewsSidebar")
        </div>
    </div>
</div>