

<section class="banner-section">
    <div class="container">
        @* <div class="swipper">  
            <div class="swiper-wrapper"> 
                <div class="swiper-slide"> *@
                    <div class="bg" style="background-image: url(../img/bg.svg);"> </div>
                    <div class="banner-content">
                        <h3 class="banner-title">TELEKOMMUNIKATSIYA
                            TARMOQLARINI BOSHQARISH
                            RESPUBLIKA MARKAZI» </h3>
                        <div class="sub-title">
                            «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT UNITAR
                            KORXONASI
                            RASMIY
                            SAYTI
                        </div>

                        <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                    </div>

                @* </div> 
                <div class="swiper-slide">
                    <div class="bg" style="background-image: url(../img/Background1.png);"> </div>
                    <div class="banner-content">
                        <h3 class="banner-title">TELEKOMMUNIKATSIYA
                            TARMOQLARINI BOSHQARISH
                            RESPUBLIKA MARKAZI» </h3>
                        <div class="sub-title">
                            «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT UNITAR
                            KORXONASI
                            RASMIY
                            SAYTI
                        </div>

                        <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                    </div>

                </div>
                <div class="swiper-slide">
                    <div class="bg" style="background-image: url(../img/bg.svg);"> </div>
                    <div class="banner-content">
                        <h3 class="banner-title">TELEKOMMUNIKATSIYA
                            TARMOQLARINI BOSHQARISH
                            RESPUBLIKA MARKAZI» </h3>
                        <div class="sub-title">
                            «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT UNITAR
                            KORXONASI
                            RASMIY
                            SAYTI
                        </div>

                        <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                    </div>

                </div>
            </div>
            <div class="swiper-button-prev"><img src="/img/ToPrevIcon.svg"></div>
            <div class="swiper-button-next"><img src="/img/ToNextIcon.svg"></div>
        </div> *@
    </div>
</section>

