<section class="banner-section">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide">
                    <div class="bg">
                        <img src="/img/bg.svg">
                    </div>
                    <div class="banner-content">
                        <div class="container">
                            <h3 class="banner-title">TELEKOMMUNIKATSIYA
                                TARMOQLARINI BOSHQARISH
                                RESPUBLIKA MARKAZI» </h3>
                            <div class="sub-title">
                                «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT
                                UNITAR
                                KORXONASI
                                RASMIY
                                SAYTI
                            </div>

                            <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <div class="bg">
                        <img src="/img/Background2.png">
                    </div>
                    <div class="banner-content">
                        <div class="container">
                            <h3 class="banner-title">TELEKOMMUNIKATSIYA
                                TARMOQLARINI BOSHQARISH
                                RESPUBLIKA MARKAZI» </h3>
                            <div class="sub-title">
                                «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT
                                UNITAR
                                KORXONASI
                                RASMIY
                                SAYTI
                            </div>

                            <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="swiper-slide">
                <div class="slide">
                    <div class="bg">
                        <img src="/img/Background1.png">
                    </div>
                    <div class="banner-content">
                        <div class="container">
                            <h3 class="banner-title">TELEKOMMUNIKATSIYA
                                TARMOQLARINI BOSHQARISH
                                RESPUBLIKA MARKAZI» </h3>
                            <div class="sub-title">
                                «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT
                                UNITAR
                                KORXONASI
                                RASMIY
                                SAYTI
                            </div>

                            <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="banner-slide-prev swiper-button-prev">@* <img src="/img/ToPrevIcon.svg"> *@</div>
        <div class="banner-slide-next swiper-button-next">@* <img src="/img/ToNextIcon.svg"> *@</div>
    </div>
</section>
