<section class="banner-section">
    <div class="swiper banner-swiper">
        <div class="swiper-wrapper">
            @foreach (var banner in ViewBag.Banners)
            {
                <div class="swiper-slide">
                    <div class="slide">
                        <div class="banner-content" style="background-image: url('/uploads/@banner.Image.Path');">
                            <div class="container">
                                <h3 class="banner-title">
                                    @banner.Title
                                </h3>
                                <div class="sub-title">
                                    @banner.Subtitle
                                </div>

                                <button class="btn">
                                    <a href="@banner.Url">
                                        Узнать больше <span class="icon icon-arrow-right"></span>
                                    </a>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="banner-slide-prev swiper-button-prev"></div>
        <div class="banner-slide-next swiper-button-next"></div>
    </div>
</section>
