<section class="banner-section">
    <div class="container">
        <div class="bg"> </div>
        <div class="banner-content">
            <h3 class="banner-title">TELEKOMMUNIKATSIYA
                TARMOQLARINI BOSHQARISH
                RESPUBLIKA MARKAZI» </h3>
            <div class="sub-title">
                «O'ZBEKISTON TELEKOMMUNIKATSIYA TARMOQLARINI BOSHQARISH RESPUBLIKA MARKAZI» DAVLAT UNITAR KORXONASI
                RASMIY
                SAYTI
            </div>

            <button class="btn ">Узнать больше <span class="icon icon-arrow-right"></span></button>
        </div>
    </div>
</section>