<section class="feedback-section">
    <div class="container">
        <h3 class="section-title">Обратная связь</h3>
        <div class="sub-title">Здесь можно оставить комментарии и замечания касаемо деятельности оператора системы и
            получить ответ на интересующие вопросы.</div>
        <form action="" class="feedback-form">
            <input type="text" id="email" class="feedback-input" placeholder="Ваш e-mail">
            <input type="text" id="text-appeal" class="feedback-input" placeholder="Текст обрашения">
            <button class="btn feedback-btn">Свяжитесь с нами <span class="icon icon-arrow-right"></span></button>
        </form>
        <div class="contacts">
            <a href="" class="contact"><span class="icon icon-email"></span>
                <span class="contact-text"> tmc@rtmc.uz</span>
            </a>
            <a href="" class="contact"><span class="icon icon-phone-0"></span>
                <span class="contact-text"> (71) 240-27-72</span>
            </a>
            <a href="" class="contact"><span class="icon icon-phone-0"></span>
                <span class="contact-text"> (71) 240-54-19</span>
            </a>
        </div>
    </div>
</section>