@model IEnumerable<rtmcuz.Models.Section>

<section class="interactive-services-section">
    <div class="container">
        <h3 class="section-title">Интерактивные услуги</h3>
        <div class="cards-grid">
            @foreach (var item in Model)
            {
                <a class="section-card">
                    <span class="icon icon-email"></span>
                    <h2 class="title">@item.Title</h2>
                    <div class="subtitle">
                        @item.Subtitle
                    </div>
                    <span class="details" href="">Подробнее</span>
                </a>
            }
        </div>
    </div>
</section>
