<section class="news-section">
    <div class="container">
        <div class="head">
            <h3 class="title">Новости</h3>
            <a href="" class="see-all">See all</a>
        </div>
        <div class="news-grid">
            <a class="news-item  main" style="background-image: url(/img/Background.png);">
                <div class="bg-linear"></div>
                <div class="title">“O‘zTTBRM” DUK ichki turizmni rivojlantirishda faol ishtirok etmoqda</div>
            </a>
            <a class="news-item" style="background-image: url(/img/Background1.png);">
                <div class="bg-linear"></div>
                <div class="title">Ehtiyojmand nuroniylar Samarqand shahriga olib borildi</div>
            </a>
            <a class="news-item" style="background-image: url(/img/Background2.png);">
                <div class="bg-linear"></div>
                <div class="title">TenderNatijalari E’lon qilindi</div>
            </a>
            <a class="news-item" style="background-image: url(/img/Background3.png);">
                <div class="bg-linear"></div>
                <div class="title">Уважаемые соотечественники!</div>
            </a>
        </div>
    </div>
</section>