@model IEnumerable<rtmcuz.Data.Models.Section>

<section class="news-section">
    <div class="container">
        <div class="head">
            <h3 class="title">@sharedLocalizer["news"]</h3>
            <a href="" class="see-all">See all</a>
        </div>
        <div class="news-grid">
            @foreach (var item in Model.Select((value, i) => new { i, value }))
            {
                @if (item.i == 0)
                {
                    <a class="news-item main">
                        <div class="bg">
                            <div class="bg-linear"></div>
                            <img src="/uploads/@item.value.Image.Path">
                        </div>
                        <div class="title">@item.value.Title</div>
                    </a>
                }
                else
                {
                    <a class="news-item">
                        <div class="bg">
                            <div class="bg-linear"></div>
                            <img src="/uploads/@item.value.Image.Path">
                        </div>
                        <div class="title">@item.value.Title</div>
                    </a>
                }

            }


@* 
            <a class="news-item">
                <div class="bg">
                    <div class="bg-linear"></div>
                    <img src="/img/Background1.png">
                </div>
                <div class="title">Ehtiyojmand nuroniylar Samarqand shahriga olib borildi</div>
            </a>
            <a class="news-item">
                <div class="bg">
                    <div class="bg-linear"></div>
                    <img src="/img/Background2.png">
                </div>
                <div class="title">TenderNatijalari E’lon qilindi</div>
            </a>
            <a class="news-item">
                <div class="bg">
                    <div class="bg-linear"></div>
                    <img src="/img/Background3.png">
                </div>
                <div class="title">Уважаемые соотечественники!</div>
            </a> *@
        </div>
    </div>
</section>