<section class="numbers-about-us-section">
    <div class="container">

        <h3 class="section-title">О нас в цифрах</h3>
        <div class="numbers">
            <div class="item">
                <span class="icon icon-xyz"></span>
                <div>
                    <h2 class="number">102</h2>
                    <div class="subtitle">Type something</div>
                </div>
            </div>
            <div class="item">
                <span class="icon icon-xyz"></span>
                <div>
                    <h2 class="number">102</h2>
                    <div class="subtitle">Type something</div>
                </div>
            </div>
            <div class="item">
                <span class="icon icon-xyz"></span>
                <div>
                    <h2 class="number">102</h2>
                    <div class="subtitle">Type something</div>
                </div>
            </div>
            <div class="item">
                <span class="icon icon-xyz"></span>
                <div>
                    <h2 class="number">102</h2>
                    <div class="subtitle">Type something</div>
                </div>
            </div>
        </div>
    </div>
</section>