@model IEnumerable<rtmcuz.Data.Models.Section>

<section class="numbers-about-us-section">
    <div class="container">
        <h3 class="section-title">@sharedLocalizer["about_us_in_numbers"]</h3>
        <div class="numbers">
            @foreach (var item in Model)
            {
                <div class="item">
                    <span class="@item.Icon"></span>
                    <div>
                        <h2 class="number">@item.Title</h2>
                        <div class="subtitle">@item.Subtitle</div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>