@model IEnumerable<rtmcuz.Data.Models.Section>

<section class="questions-section">
    <div class="container">
        <h3 class="section-title">@sharedLocalizer["frequently_asked_questions"]</h3>
        <div class="questions">
            @foreach (var item in Model)
            {
                <div class="question" id="question_@item.Id">
                    <span class="icon icon-chevrone-bottom"></span>
                    <div class="question-title">@item.Title</div>
                    <div class="answer">@Html.Raw(item.Content)</div>
                </div>
            }
        </div>
    </div>
</section>