header {
    box-shadow: 0px 0px 10px rgba(24, 47, 67, 0.1);
}

th-logo {}

ul.menu_box {
    display: flex;
    width: 65%;
    justify-content: space-between;
}

li.menu_item {
    list-style-type: none;
}

li.menu_item:hover {
    text-decoration: underline;
}

li.menu_item a {
    text-decoration: none;
    color: black;
}

li.menu_item a.active {
    color: #1D9BD8;
}

.form-group {
    margin: .5em 0;
}

.ck-editor__editable {
    min-height: 150px;
}

.profile {
    position: relative;
}

.profile label {
    cursor: pointer;
}

.profile form {
    margin: 0;
}

.profile form button:active {
    outline: none;
    border: none;
}

#showDropdown {
    display: none;
}

.navbar-nav {
    display: none;
    position: absolute;
    top: 20px;
    right: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(24, 47, 67, 0.1);
}

.navbar-nav .nav-item {
    padding: 4px 12px;
}

.navbar-nav .nav-item:hover {
    background-color: #f5f5f5;
}

#showDropdown:checked~.navbar-nav {
    display: block;
}

.header-top-right {
    display: flex;
    align-items: center;
}

.header-top-right form {
    margin: 0 8px;
}

.header-top-right .dropdown-toggle {
    border: none;
    background-color: transparent;
}

.table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
}

@media screen and (max-width: 580px) {
    .table {
        display: block;
    }
}

tr {
    display: table-row;
    background: #f6f6f6;
}

tr:nth-of-type(odd) {
    background: #e9e9e9;
}

th {
    --bs-table-bg: #13B31F;
    font-weight: 900;
    color: #ffffff;
    background: var(--bs-table-bg);
}

th.green {
    background: #27ae60;
}

th.blue {
    background: #2980b9;
}

@media screen and (max-width: 580px) {
    tr {
        padding: 14px 0 7px;
        display: block;
    }

    th {
        padding: 0;
        height: 6px;
    }

    th td {
        display: none;
    }

    tr td {
        margin-bottom: 10px;
    }

    tr td:before {
        margin-bottom: 3px;
        content: attr(data-title);
        min-width: 98px;
        font-size: 10px;
        line-height: 10px;
        font-weight: bold;
        text-transform: uppercase;
        color: #969696;
        display: block;
    }
}

td {
    padding: 6px 12px;
    display: table-cell;
}

.culture-wrapper {
    position: relative;
}

.culture-wrapper .current-culture {
    display: flex;
    align-items: center;
    font: var(--body-regular-2);
    padding: 2px 10px;
    cursor: pointer;
}

.culture-wrapper .current-culture span {
    color: var(--primary-main);
    margin-right: 7px;
}

.culture-wrapper .culture-list-dropdown {
    display: none;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 25px;
    transition: 0.3s ease-in-out opacity;
    box-shadow: 0px 0px 10px rgb(24 47 67 / 10%);
    z-index: 99999;
    width: 100%;
}

.culture-wrapper:hover .culture-list-dropdown {
    opacity: 1;
    display: block;
}

.culture-wrapper .culture-list-dropdown .culture-link {
    display: block;
    padding: 3px 10px;
    color: var(--custom-grey-3);
    font: var(--body-regular-3);
    background-color: var(--white-main);
}

.culture-wrapper .culture-list-dropdown .culture-link:hover {
    background-color: var(--dark-variant-5);
    color: var(--custom-grey-3);
}

a.translation {
    color: #13B31F;
}

a.translation:hover {
    color: yellowgreen;
}

form {
    margin-bottom: .5em;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.pagination .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin-right: 4px;
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.pagination .pagination-item.active, .pagination .pagination-item.sign {
    cursor: default;
    box-shadow: none;
}

@media screen and (max-width: 580px) {
    td {
        padding: 2px 16px;
        display: block;
    }
}