@media (max-width: 1200px) {
    .container {
        width: 1025px;
    }
}

@media (max-width: 1025px) {
    .container {
        width: 769px;
    }
}

@media (max-width: 769px) {
    .hamburger-menu {
        display: block;
    }

    .container {
        width: calc(100% - 30px);
    }
}

@media (max-width: 480px) {}