/* BANNER-SECTION SECTION*/
.banner-section {
    --swiper-theme-color: var(--primary-main);
    background-color: transparent;
    z-index: -2;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px 4px #000000;
    padding: 0;
}

.banner-section .slide {
    position: relative;
    width: 100%;
}

.banner-section .bg {
    background-size: cover;
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
    height: 100%;
    overflow: hidden;
}

.banner-section .bg img {
    width: 100%;
}

.banner-section .banner-content {
    padding: 60px 0 100px;
    top: 0;
    width: 100%;
    min-height: 530px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-section .banner-content h3.banner-title {
    font: var(--heading-bold-3);
    color: var(--white-main);
    width: 50%;
    text-transform: uppercase;
}

.banner-section .banner-content .sub-title {
    font: var(--body-light-2);
    color: var(--white-main);
    width: 30%;
    text-transform: uppercase;
    margin-bottom: 46px;
}

.banner-section .banner-content .btn a {
    display: flex;
    align-items: center;
}

.banner-section .banner-content .btn a span {
    font-size: 16px;
    margin-left: 4px;
}

.banner-section .banner-content .btn:hover a {
    color: var(--white-light);
}

/* OUR SERVICES SECTION*/
.our-services-section .service-card {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(24, 47, 67, 0.2);
    border-radius: 6px;
}

.our-services-section .service-card:last-child {
    margin-right: 0;
}

.our-services-section .service-card .img-wrapper {
    width: 100%;
}

.our-services-section .service-card .img-wrapper {
    background-image: var(--linear-green);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 236px;
}

.our-services-section .service-card .img-wrapper img {
    max-width: 200px;
}

.our-services-section .service-card .card-content {
    padding: 30px 36px;
    /* color: var(--dark-main); */
}

.our-services-section .service-card .card-content .card-title {
    font: var(--heading-bold-5);
    margin: 0 0 5px;
}

.our-services-section .service-card .card-content .card-subtitle {
    font: var(--body-light-2);
    margin: 0 0 32px;
}

.our-services-section .service-card .card-content .details {
    font: var(--body-light-2);
}

.our-services-section .service-card .card-content .details:hover {
    color: var(--custom-yellow);
}


/* INTERACTIVE-SERVICES SECTION*/
.interactive-services-section {
    background-color: var(--custom-grey-6);
}

.interactive-services-section .cards-grid .section-card {
    padding: 36px;
    background-color: var(--white-main);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    /* color: var(--dark-main); */
    cursor: pointer;
}

.interactive-services-section .cards-grid .section-card:hover {
    background-color: var(--primary-main);
    color: var(--white-main);
}

.interactive-services-section .cards-grid .section-card .bi {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-main);
    border-radius: 4px;
    margin-bottom: 16px;
    color: var(--white-main);
}

.interactive-services-section .cards-grid .section-card:hover .bi {
    background-color: var(--white-main);
    color: var(--primary-main);
}

.interactive-services-section .cards-grid .section-card .title {
    font: var(--heading-bold-5);
    margin: 0 0 12px;
}

.interactive-services-section .cards-grid .section-card .subtitle {
    font: var(--body-light-2);
    margin: 0 0 48px;
}

.interactive-services-section .cards-grid .section-card .details {
    color: var(--primary-main);
    font: var(--body-light-2);
}

.interactive-services-section .cards-grid .section-card:hover .details {
    color: var(--white-main);
}


/* NEWS SECTION*/
.news-section {
    /* color: var(--dark-main); */
}

.news-section .head {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.news-section .head .title {
    font: var(--heading-bold-3);
    margin: 0;
}

.news-section .head .see-all {
    font: var(--body-light-2);
    text-align: right;
}

.news-section .news-grid {
    display: grid;
    gap: 30px;
}

.news-section .news-grid .news-item {
    position: relative;
    grid-column: 4;
    border-radius: 2px;
    cursor: pointer;
    overflow: hidden;
    background-position: center;
}

.news-section .news-grid .news-item:hover .bg img {
    width: 110%;
    height: 110%;
}

.news-section .news-grid .news-item .bg {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.news-section .news-grid .news-item .bg-linear {
    background-image: linear-gradient(transparent, #000);
    position: absolute;
    background-image: linear-gradient(transparent, #000);
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}


.news-section .news-grid .news-item .bg img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in all;
}

.news-section .news-grid .news-item.main {
    grid-row: 1 / span 3;
    grid-column: 1 / span 3;
    height: 800px;
}

.news-section .news-grid .news-item.main:hover .bg img {
    width: 110%;
    height: 110%;
}

.news-section .news-grid .news-item .title {
    position: absolute;
    bottom: 28px;
    left: 12px;
    color: var(--white-main);
    font: var(--body-bold-1);
    z-index: 1;
}

.news-section .news-grid .news-item.main .title {
    font: var(--heading-bold-2);
    left: 38px;
    bottom: 38px;
}


/* NUMBER ABOUT US SECTION*/
.numbers-about-us-section {
    background-color: var(--custom-grey-6);
}

.numbers-about-us-section .numbers {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.numbers-about-us-section .numbers .item {
    display: flex;
    align-items: center;
    padding: 7px 40px;
}

.numbers-about-us-section .numbers .item .icon {
    width: 54px;
    height: 54px;
    margin-right: 14px;
    background-image: var(--linear-green);
    border-radius: 50%;
}

.numbers-about-us-section .numbers .item .number {
    font: var(--heading-bold-2);
    margin: 0;
}

.numbers-about-us-section .numbers .item .subtitle {
    font: var(--body-regular-2);
}


/* QUESTIONS SECTION*/
.questions-section .questions {
    max-width: 700px;
    margin: 0 auto;
    /* color: var(--dark-main); */
}

.questions-section .questions .question {
    position: relative;
    border-radius: 6px;
    box-shadow: 0px 1.5px 6px rgb(0 0 0 / 25%);
    padding: 11px 24px 17px;
    margin-bottom: 23px;
    cursor: pointer;
    user-select: none;
}

.questions-section .questions .question.opened {
    box-shadow: none;
    background-color: var(--dark-variant-5);
}

.questions-section .questions .question .icon {
    /* display: none; */
    position: absolute;
    right: 19px;
    top: 11px;
    font-weight: 900;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
}

.questions-section .questions .question.opened .icon {
    display: inline;
}


.questions-section .questions .question:last-child {
    margin-bottom: 0;
}

.questions-section .questions .question .question-title {
    font: var(--body-bold-2);
    padding-right: 16px;
}

.questions-section .questions .question .answer {
    display: none;
    font: var(--body-light-3);
    margin: 18px 0 13px;
}

.questions-section .questions .question.opened .answer {
    display: block;
}


/* FEEDBACK SECTION*/
.feedback-section {
    /* color: var(--dark-main); */
}

.feedback-section .sub-title {
    font: var(--heading-light-6);
    text-align: center;
    margin: 0 auto 60px;
    width: 40%;
}

.feedback-section .feedback-form {
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
}

.feedback-section .feedback-form .feedback-input {
    margin-right: 15px;
}

.feedback-section .feedback-btn {
    text-align: center;
    font: var(--body-light-1);
    background-color: var(--primary-main);
    color: var(--white-main);
    padding: 10px 24px;
}

.feedback-section .contacts {
    display: flex;
    justify-content: center;
}

.feedback-section .contacts .contact {
    display: flex;
    margin-right: 32px;
    font: 400 13.49px/20.23px var(--font-family);
}

.feedback-section .contacts .contact [class*=" ri-"] {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.feedback-section .contacts .contact .contact-text {
    display: flex;
    align-items: center;
}

.map-section #map {
    width: 100%;
    height: 300px;
}

.leaflet-tile-pane {
    /* filter: contrast(120%) grayscale(100%); */
}

.leaflet-right {
    opacity: 0;
}

/* ABOUT CENTER */
.about-center {
    margin: 100px 0;
}

.about-center .title {
    font: var(--heading-bold-4);
    text-transform: uppercase;
}

.about-center .text {
    font: var(--body-regular-1);
    columns: 2;
}


/* NEWS */
.news {
    margin: 66px 0 30px;
}

.news-wrapper {
    display: flex;
}

.news-wrapper .content {
    width: 60%;
    margin: 30px 95px 0 0;
}

.news-wrapper .content .items .news-item {
    margin-bottom: 40px;
}

.news-wrapper .content .items .news-item img.news-img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    margin-bottom: 18px;
}

.news-wrapper .content .items .news-item .date {
    font: var(--body-light-3);
}

.news-wrapper .content .items .news-item .title {
    font: var(--heading-bold-5);
}

.news-wrapper .content .items .news-item .text {
    font: var(--body-light-1);
    max-height: 76.8px;
    word-wrap: break-word;
    overflow: hidden;
    text-align: justify;
}

.news-wrapper .content .items .news-item .text>* {
    margin: 0;
}

.news-wrapper .content .pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 40px;
}

.news-wrapper .content .pagination .pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font: var(--heading-light-6);
    width: 50px;
    height: 50px;
    margin-right: 4px;
    cursor: pointer;
    color: var(--primary-main);
    border-radius: 8px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
}

.news-wrapper .content .pagination .pagination-item.active, .news-wrapper .content .pagination .pagination-item.sign {
    cursor: default;
    box-shadow: none;
}

.news-wrapper .sidebar {
    width: 35%;
    margin: 0 95px 0 0;
}

.news-wrapper .sidebar .last-news {
    padding: 0 20px;
    border: 1px solid var(--white-light);
    border-radius: 6px;
}

.news-wrapper .sidebar .last-news .head-title {
    font: var(--heading-bold-5);
    text-align: center;
    margin: 35px 0;
}

.news-wrapper .sidebar .last-news .last-news-item {
    display: flex;
    border-bottom: 1px solid var(--white-variant-3);
    padding: 25px 0;
}

.news-wrapper .sidebar .last-news .last-news-item:last-child {
    border: none;
}

.news-wrapper .sidebar .last-news .last-news-item .news-img {
    width: 60px;
    height: 60px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(24, 47, 67, 0.2);
    margin-right: 16px;
}

.news-wrapper .sidebar .last-news .last-news-item .news-img .last-news-img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.news-wrapper .sidebar .last-news .last-news-item .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news-wrapper .sidebar .last-news .last-news-item .right .title {
    font: var(--body-bold-1);
    cursor: pointer;
}

.news-wrapper .sidebar .last-news .last-news-item .right .date {
    font: var(--body-light-3);
}

.news-wrapper .show .title {
    font: var(--heading-bold-1);
}

.news-wrapper .show img {
    width: 100%;
}

.news-wrapper .show .date {
    font: var(--body-light-3);
}

.news-wrapper .show .text {
    font: var(--body-light-1);
}


/* DOCUMENTS */
.documents {
    margin-top: 30px;
}

.documents .title {
    font: var(--heading-bold-4);
    text-transform: uppercase;
    text-align: center;
    margin: 70px 0;
}

.documents .documents-categories {
    width: 70%;
    margin: 0 auto;
}

.documents .documents-categories .document-category {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    font: var(--heading-bold-6);
    border-bottom: 1px solid var(--white-light);
}

.documents .documents-categories .document-category:last-child {
    border: none;
}

.documents .documents-categories .document-category .icon {
    cursor: pointer;
    color: var(--primary-main);
    font-size: 24px;
}


/* FEEDBACK */
.feedback {
    margin-top: 125px;
}

.feedback-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.feedback-wrapper .feedback-form {
    display: block;
    width: 45%;
}

.feedback-wrapper .feedback-form .title {
    font: var(--heading-bold-3);
    margin: 18px 0;
}

.feedback-wrapper .feedback-form .form-control {
    padding: 12px 0;
}

.feedback-wrapper .feedback-form .form-control label {
    display: block;
    padding-left: 8px;
    font: var(--body-light-2);
}

.feedback-wrapper .feedback-form .form-control input,
.feedback-wrapper .feedback-form .form-control select,
.feedback-wrapper .feedback-form .form-control textarea {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--dark-variant-5);
    color: var(--dark-variant-4);
    outline: none;
    font: var(--body-regular-1);
}

.feedback-wrapper .feedback-form .form-control textarea {
    height: 120px;
}

.feedback-wrapper .feedback-form .form-control input::placeholder,
.feedback-wrapper .feedback-form .form-control select::placeholder,
.feedback-wrapper .feedback-form .form-control textarea::placeholder {
    color: var(--dark-variant-5);
    font: var(--body-light-2);
}

.feedback-wrapper .map {
    width: 50%;
    height: 600px;
}

.feedback .feedback-information {
    display: grid;
    width: 100%;
    margin-top: 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 21px;

}

.feedback .feedback-information .card {
    height: 180px;
    display: flex;
    justify-content: center;
    padding-left: 90px;
    padding-right: 30px;
    flex-direction: column;
    border: 1px solid var(--primary-main);
    border-radius: 6px;
}

.feedback .feedback-information .title {
    font: var(--heading-bold-6);
}

.feedback .feedback-information .subtitle {
    font: var(--heading-light-6);
}